body
{
    background: whitesmoke;
    color: #505050;
    text-shadow: 2px 1px 3px rgba(200, 200, 200, 0.43);
}

.demo-svg {
    float:left;
    width:530px;
}

.sidebar {
    float:left;
    width:450px;
    margin-top: 250px;
}

.demo-container {
    box-sizing: border-box;
    width: 1050px;
    height: 660px;
    padding: 0px 0px 0px;
    margin: 55px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

